build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/CacheSimulator.sln
build/CacheSimulator.vcxproj
build/CacheSimulator.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Project.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-9647cde84e161c8b34c8.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5f6b9a8e36b3b2150484.json
build/.cmake/api/v1/reply/codemodel-v2-a8ef3429f376687aee39.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-09-12T05-51-54-0999.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-a793cbf928716fc25b0d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-a793cbf928716fc25b0d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-a793cbf928716fc25b0d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-a793cbf928716fc25b0d.json
build/.cmake/api/v1/reply/target-CacheSimulator-Debug-76e9660473c388bea9f1.json
build/.cmake/api/v1/reply/target-CacheSimulator-MinSizeRel-f8a4579cd9f15328c1a4.json
build/.cmake/api/v1/reply/target-CacheSimulator-Release-348219fd5c3b0675c2d5.json
build/.cmake/api/v1/reply/target-CacheSimulator-RelWithDebInfo-d0f9a88d3aba5cd452f9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-9b019d86efb7987f83c9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-9b019d86efb7987f83c9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-9b019d86efb7987f83c9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-9b019d86efb7987f83c9.json
build/.cmake/api/v1/reply/toolchains-v1-e918ca69c9d7ed9dc5df.json
build/CacheSimulator.dir/Debug/cache.obj
build/CacheSimulator.dir/Debug/CacheSimulator.exe.recipe
build/CacheSimulator.dir/Debug/CacheSimulator.ilk
build/CacheSimulator.dir/Debug/CacheSimulator.obj
build/CacheSimulator.dir/Debug/vc143.pdb
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/CacheSimulator.lastbuildstate
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/CL.command.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/Cl.items.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/CL.read.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/CL.write.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/CustomBuild.command.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/CustomBuild.read.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/CustomBuild.write.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/link.command.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/link.read.1.tlog
build/CacheSimulator.dir/Debug/CacheSimulator.tlog/link.write.1.tlog
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.1.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/4.1.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/4.1.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.1.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.1.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/4.1.0-rc2/CMakeSystem.cmake
build/CMakeFiles/4.1.0-rc2/VCTargetsPath.txt
build/CMakeFiles/4.1.0-rc2/VCTargetsPath.vcxproj
build/CMakeFiles/4.1.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.1.0-rc2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.1.0-rc2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.1.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.1.0-rc2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.1.0-rc2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/9d5e353e7c2b5f19fa028c6ed295b583/generate.stamp.rule
build/Debug/CacheSimulator.exe
build/Debug/CacheSimulator.pdb
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/Debug/cache_stats.txt
